 
 body {
   background: #d1d6d1;
   height: 806px;
   width: 1400px;
   margin: 0 0;
   border-bottom: 4px solid black;
   border-radius: 10px;
      }
.wrapper { 
   background: white;
   box-shadow: 0 0 5px;
   margin: 4px 464px 51px;
   width: 512px;
   padding: 50px 50px;
         }
 p { 
   padding-left: 13px;
    } 
h1 {
   margin: 0 auto;
   text-align: center;
          }
img {
   display: block;
   height: 150px;
   width: 85px;
   margin: 0 auto;
   padding: 10px 0px;
      }
.header, 
.reason,
.contact {
   margin-bottom: 10px;
   padding-left: 10px;
   border-bottom: 1px solid #acacac;
          }
.Feedback {
   border-bottom: none;
   padding-left: 10px;
      
          }
 